{% extends template %}

{% block pagename %}Feedback verzonden{% endblock %}
{% block pagedescription %}Uw feedback is verzonden{% endblock %}
{% block additionalHead %}{% endblock %}

{% block content %}
<div class="alert alert-block alert-success">
    <button type="button" class="close" data-dismiss="alert">
        <i class="ace-icon fa fa-times"></i>
    </button>

    Dank u voor uw feedback! De melding wordt zo snel mogelijk behandeld.

    <i class="ace-icon fa fa-check green"></i>
</div>
{% endblock %}