{% extends template %}

{% block pagename %}Bestanden{% endblock %}
{% block pagedescription %}Alle bestanden{% endblock %}
{% block additionalHead %}
    <link rel="stylesheet" type="text/css" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

    <!-- elFinder CSS (REQUIRED) -->
    <link rel="stylesheet" type="text/css" href="/Libraries/elfinder/css/elfinder.min.css">
    <link rel="stylesheet" type="text/css" href="/Libraries/elfinder/themes/windows-10/css/theme.css">

    <!-- elFinder JS (REQUIRED) -->
    <script src="/Libraries/elfinder/js/elfinder.min.js"></script>

    <!-- elFinder translation (OPTIONAL) -->
    <script src="/Libraries/elfinder/js/i18n/elfinder.nl.js"></script>

    <!-- elFinder initialization (REQUIRED) -->
    <script type="text/javascript" charset="utf-8">
        // Documentation for client options:
        // https://github.com/Studio-42/elFinder/wiki/Client-configuration-options
        $(document).ready(function () {
            $('#elfinder').elfinder({
                url: '/persons/files?id={{data.user.id}}', //,  // connector URL (REQUIRED)
                lang: 'nl'                    // language (OPTIONAL)
            });
        });
    </script>
{% endblock %}

{% block content %}
    <!-- Element where elFinder will be created (REQUIRED) -->
    <div id="elfinder"></div>
{% endblock %}